<div class="container mt-5">


    <div class="row featurette mb-5 pb-5 pt-5">
      <div class="col-md-7 mt-5">
        <h2 class="featurette-heading fw-bolder lh-1">Our Story</h2>
        <p class="lead mt-5">Launced in 2023, Exclusive is Central Asia’s premier online shopping makterplace with an active presense in Tashkent. Supported by wide range of tailored marketing, data and service solutions, Exclusive has 10,500 sallers and 300 brands and serves 3 millioons customers across the region. <br><br> Exclusive has more than 1 Million products to offer, growing at a very fast. Exclusive offers a diverse assotment in categories ranging  from consumer.</p>
      </div>
      <div class="col-md-5">
        {{!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> --}}
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="width: 500px; height: 350px;" src="/img/aboutpage.jpg" alt="">
      </div>
    </div>

    <!-- START THE FEATURETTES -->

    <div class="row gap-3 d-flex justify-content-center mb-5 pb-5 pt-5 align-items-center">
        <div class="col-2 btn btn-outline-danger shadow p-3 m-2"><i class="fs-1 shadow rounded-circle pt-2 pb-2 px-3 pe-3 bi bi-shop"></i><br><h3 class="mt-4 text-black">10.5k </h3><p class="mt-2">Sallers active our site</p></div>
        <div class="col-2 btn btn-outline-danger shadow p-3 m-2"><i class="fs-1 shadow rounded-circle pt-2 pb-2 px-3 pe-3 bi bi-coin"></i><br><h3 class="mt-4 text-black">33k </h3><p class="mt-2">Monthly Produduct Sale</p></div>
        <div class="col-2 btn btn-outline-danger shadow p-3 m-2"><i class="fs-1 shadow rounded-circle pt-2 pb-2 px-3 pe-3 bi bi-gift"></i><br><h3 class="mt-4 text-black">45.5k </h3><p class="mt-2">Active customers</p></div>
        <div class="col-2 btn btn-outline-danger shadow p-3 m-2"><i class="fs-1 shadow rounded-circle pt-2 pb-2 px-3 pe-3 bi bi-wallet2"></i><br><h3 class="mt-4 text-black">25k </h3><p class="mt-2">Anual gross sale</p></div>
    </div>


 <!-- Three examiner -->
    <div class="row mt-5 pt-5 pb-5">
      <div class="col-lg-4 text-center">
        <img class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px;" src="https://media.licdn.com/dms/image/D4D03AQF65TAAPBZAXg/profile-displayphoto-shrink_400_400/0/1690280152262?e=1695859200&v=beta&t=Nl79AEMHz_G4cPAh7CzCommgHAuVpnDVHmJ-UVHZSNY" alt="">
        <h2 class="fw-normal mt-2">Abdulbosit Tuychiev</h2>
        <p><span class="fw-bolder"> Itransition Group:</span> <span class="fw-light"> Intern Software Engineer </span></p>
        <p>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="https://www.linkedin.com/in/abdulbosit-tuychiev/"><i class="bi bi-linkedin"></i></a></span>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="https://t.me/abdulbosit_tatu"><i class="bi bi-telegram"></i></a></span>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="https://www.instagram.com/abdulbosit_tatu/"><i class="bi bi-instagram"></i></a></span>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px;" src="https://media.licdn.com/dms/image/C4D0BAQFvejl3pZ83Tg/company-logo_200_200/0/1626164565627?e=1698278400&v=beta&t=VFoVxa2aJEjYCG0S9KYgY0UuT-bJJz-TmEWJqwHORuM" alt="">
        <h2 class="fw-normal mt-2">Itransition Group</h2>
        <p><span class="fw-bolder"> Lakewood, Colorado</span> <span class="fw-light"> Software development company</span></p>
        <p>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="https://www.linkedin.com/company/itransition/mycompany/"><i class="bi bi-linkedin"></i></a></span>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="https://www.itransition.com/"><i class="bi bi-globe"></i></a></span>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="https://www.instagram.com/itransition_team/"><i class="bi bi-instagram"></i></a></span>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px;" src="https://media.licdn.com/dms/image/D4D03AQEDOOVbVrvKcw/profile-displayphoto-shrink_800_800/0/1679166636967?e=1695859200&v=beta&t=RNw06jpOda5rxGtPDIvGzY82trTo-d4EJ0lo6DZFRxo" alt="">
        <h2 class="fw-normal mt-2">Ivan Stanevich</h2>
        <p><span class="fw-bolder"> Itransition Group:</span> <span class="fw-light"> Senior Software Engineer </span></p>
        <p>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="https://www.linkedin.com/in/ivan-stanevich-678708149/"><i class="bi bi-linkedin"></i></a></span>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="skype:vanya.stanevich"><i class="bi bi-skype"></i></a></span>
            <span> <a class="text-decoration-none fs-5" target="_blank" href="https://www.instagram.com/ivan_stanevich/"><i class="bi bi-instagram"></i></a></span>
        </p>
      </div><!-- /.col-lg-4 -->
     
    </div><!-- /.row -->

   
<div class="row mt-5 pt-5 pb-5 mb-5  justify-content-center ">
<div class="col-3  text-center justify-content-center align-middle"><div  class="">  <i class="shadow  p-2 text-light bg-black rounded-circle pt-1 pb-1 fs-2 bi bi-truck"  style="width: 50px; height: 50px;"></i>        </div><br><br> <h5 class="fw-bolder ps-3">FREE AND FAST DELIVERY</h5><p>Free delivery for all orders over $140</p>  </div>
<div class="col-3  text-center justify-content-center align-middle"><div  class=" "> <i class="shadow  p-2 text-light bg-black rounded-circle pt-1 pb-1 fs-2 bi bi-headset" style="width: 50px; height: 50px;" ></i>      </div><br><br> <h5 class="fw-bolder ps-3">24/7 CUSTOMER SERVICE</h5><p>Friendly 24/7 customer support</p>  </div>
<div class="col-3  text-center justify-content-center align-middle"><div  class=" "> <i class="shadow  p-2 text-light bg-black rounded-circle pt-1 pb-1 fs-2 bi bi-shield-check" style="width: 50px; height: 50px;"></i> </div><br><br> <h5 class="fw-bolder ps-3">MONEY BACK GUARANTEE</h5><p>We reurn money within 30 days</p>  </div>
</div>
    

  </div>