<div class="row gap-3 mt-5 p-5">
    <div class="col-4">
        <div class="p-5  p-3 rounded-3 shadow-lg" data-bs-theme="light">
        <div class="">
            <h5>
            <i class="bi bi-telephone text-light fs-4 bg-danger rounded-circle text-center p-2 me-2"> </i> <span class="fw-semibold fs-5"> Call To Us</span>
            </h5>
            <p class="mt-5">We are available 24/7, 7 days a week.</p>
            <p class="mt-2">Phone: +998 900066639</p>
            <p class="">Phone: +998 900088849</p>
        </div>
        <hr class="mt-5 mb-5">
        <div class="">
            <h5>
            <i class="bi bi-envelope text-light fs-4 bg-danger rounded-circle text-center p-2 me-2"> </i> <span class="fw-semibold fs-5"> Write To US</span>
            </h5>
            <p class="mt-5">Fill out our form and we will contact you within 24 hours.</p>
            <p class="mt-2">Email: abdulbosit19980204@gmail.com</p>
            <p class="">Email: uzdev7@gmail.com</p>
            
        </div>
        </div>
    </div>
    <div class="col-7 ">
        <div class="p-5  p-3 rounded-3 shadow-lg">
            <form action="/contact" method="post">
            <div class="row">
                    <div class=" mb-3 col-4">
                    <input  name="senderName" type="text" class=" bg-light form-control" id="floatingInput" placeholder="Your name*">
                    </div>
                    <div class=" mb-3 col-4">
                    <input  name="senderEmail" type="email" class="bg-light  form-control" id="floatingInput" placeholder="name@example.com">
                    </div>
                    <div class=" col-4">
                    <input name="senderPhone"  type="text" class="bg-light  form-control" id="floatingPassword" placeholder="Your phone">
                    </div>
                    <div class="">
                        <div class="form-floating mb-2">
                        <textarea name="message" style="height: 150px;" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        </div>
                    </div>
            </div>
                    <button class="btn btn-danger p-3 px-5" type="submit">Send Message</button>

            </form>
        </div>
    </div>
</div>