<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="/">
         <i class="bi bi-house-fill"></i>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="/dashbord">Dashbord</a>
      </li>
      
    </ol>
</nav>
<div class="row">
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <i class="text-danger fs-3 bi bi-cart3"> </i>
      <span class="fs-4"> Dashbord</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="bi bi-house-door"></i> Home
        </a>
      </li>
      <li>
        <a href="/setting" class="nav-link link-body-emphasis">
          <i class="bi bi-gear"></i>
          Setting
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="bi bi-bag-check"></i>
           Orders
        </a>
      </li>
      <li>
        <a href="/products" class="nav-link link-body-emphasis">
          <i class="bi bi-cart4"></i>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="bi bi-chat"></i>
          Message
        </a>
      </li>
    </ul>
    <hr>
</div>
<div class="col-8 mt-5 text-center">
  <h1>Updates are in progress....</h1>
  <img class="img-fluid"  src="https://hackernoon.imgix.net/images/0*4Gzjgh9Y7Gu8KEtZ.gif" alt="">
  {{!-- <img class="img-fluid"  src="https://mir-s3-cdn-cf.behance.net/project_modules/max_632/04de2e31234507.564a1d23645bf.gif" alt=""> --}}
</div>
</div>




