<div class="row">
  <div class="row m-0 p-0">
     <div class="col-2 border-end ">{{> filter}}</div>
        {{!-- <div class="d-flex col-1" style="height: 330px;">
        <div class="vr"></div> </div> --}}
      
      <div class="col-10 ">{{> carousel}}</div>
  </div>
  <div class="col-12 mt-5 pt-5">
       {{>hotdeal}}
  </div>
  <hr>
  <div class="col-12 mt-4">
      {{> categories}}
  </div>
    <hr>
  <div class="col-12 mt-4">
    {{>bestSelling}}
    {{>product}}
  </div>
  <div class="col-12 mt-4">

<div class="p-4 p-md-5 mb-4 rounded text-white bg-black d-flex ">
    <div class="col-lg-6 px-0">
    <p class="lead my-3 text-danger">Categories</p>
      <h1 class="display-4 fw-bolder">Enhance Your Music Experience</h1>
       <div class="hot-deal timer mt-5 col-8">
        <ul class="hot-deal-countdown font-monospace ">
            <li>
                <div>
                    <span>Days</span>
                    <h3 id="days">287</h3>
                </div>
            </li>
            <li>
                <div>
                    <span>Hours</span>
                    <h3 id="hours">00</h3>
                </div>
            </li>
            <li>
                <div>
                    <span>Mins</span>
                    <h3 id="minutes">12</h3>
                </div>
            </li>
            <li>
                <div>
                    <span>Secs</span>
                    <h3 id="seconds">10</h3>
                </div>
            </li>
        </ul>
    </div>
      <p class="lead mb-0 mt-5"><a href="#" class="btn btn-danger fw-bold p-2 px-5">Buy Now!</a></p>
    </div>
    <div class="col-lg-6">
      <img src="https://i0.wp.com/gadgethousenepal.com/wp-content/uploads/2021/09/CHARGE2PLUSRED_HERO_dvHAMaster.png?w=537&ssl=1" alt="" class="img-fluid w-75">
    </div>
  </div>

  </div>
  <div class="col-12 mt-4">
     <div class="d-flex align-items-center fs-5 fw-bold">
    <div class="bg-danger rounded" style="width: 20px; height: 50px;"></div><span class="ms-3 fs-4 font-monospace text-danger">Our Products</span>
    </div>
    <div class=" d-flex justify-content-between">
    <h1>Explore Our Products</h1>
     <div class="fs-3">
        <a href="#"> <i class="bi  bi-arrow-left-circle-fill  text-secondary"></i></a>
        <a href="#"> <i class="bi  bi-arrow-right-circle-fill text-secondary"></i></a>
    </div>
    </div>
    {{> product}}
  </div>
  <div class="col-12 mt-4">
    {{!-- New arrival --}}
      <div class="d-flex align-items-center fs-5 fw-bold">
    <div class="bg-danger rounded" style="width: 20px; height: 50px;"></div><span class="ms-3 fs-4 font-monospace text-danger">Our Partners</span>
    </div>
    <div class=" d-flex justify-content-between">
    <h1>Visit Our Partners</h1>
     <div class="fs-3">
        <a href="#"> <i class="bi  bi-arrow-left-circle-fill  text-secondary"></i></a>
        <a href="#"> <i class="bi  bi-arrow-right-circle-fill text-secondary"></i></a>
    </div>
    </div>
  {{> ourpartner}}

    
  </div>
  <div class="col-12 mt-4">
      
<div class="row mt-5 pt-5 pb-5 mb-5  justify-content-center ">
<div class="col-3  text-center justify-content-center align-middle"><div  class="">  <i class="shadow  p-2 text-light bg-black rounded-circle pt-1 pb-1 fs-2 bi bi-truck"  style="width: 50px; height: 50px;"></i>        </div><br><br> <h5 class="fw-bolder ps-3">FREE AND FAST DELIVERY</h5><p>Free delivery for all orders over $140</p>  </div>
<div class="col-3  text-center justify-content-center align-middle"><div  class=" "> <i class="shadow  p-2 text-light bg-black rounded-circle pt-1 pb-1 fs-2 bi bi-headset" style="width: 50px; height: 50px;" ></i>      </div><br><br> <h5 class="fw-bolder ps-3">24/7 CUSTOMER SERVICE</h5><p>Friendly 24/7 customer support</p>  </div>
<div class="col-3  text-center justify-content-center align-middle"><div  class=" "> <i class="shadow  p-2 text-light bg-black rounded-circle pt-1 pb-1 fs-2 bi bi-shield-check" style="width: 50px; height: 50px;"></i> </div><br><br> <h5 class="fw-bolder ps-3">MONEY BACK GUARANTEE</h5><p>We reurn money within 30 days</p>  </div>
</div>
  </div>
</div>



