<div class="row">
  <div class="col-2">{{> filter}}</div>
  <div class="d-flex col-1" style="height: 330px;">
  <div class="vr"></div>
</div>
  <div class="col-9">{{> carousel}}</div>
  <div class="col-12 mt-5 pt-5">
       {{>hotdeal}}
  </div>
  <hr>
  <div class="col-12 mt-4">
      {{> categories}}
  </div>
    <hr>
  <div class="col-12 mt-4">Best selling Products</div>
  <div class="col-12 mt-4">Buy now</div>
  <div class="col-12 mt-4">
     <div class="d-flex align-items-center fs-5 fw-bold">
    <div class="bg-danger rounded" style="width: 20px; height: 50px;"></div><span class="ms-3 fs-4 font-monospace text-danger">Our Products</span>
    </div>
    <div class=" d-flex justify-content-between">
    <h1>Explore Our Products</h1>
     <div class="fs-3">
        <a href="#"> <i class="bi  bi-arrow-left-circle-fill  text-secondary"></i></a>
        <a href="#"> <i class="bi  bi-arrow-right-circle-fill text-secondary"></i></a>
    </div>
    </div>
    {{> product}}
  </div>
  <div class="col-12">New Arrival</div>
</div>

