<div class="row">
  <div class="row m-0 p-0">
     <div class="col-2 border-end ">{{> filter}}</div>
        {{!-- <div class="d-flex col-1" style="height: 330px;">
        <div class="vr"></div> </div> --}}
      
      <div class="col-10 ">{{> carousel}}</div>
  </div>
  <div class="col-12 mt-5 pt-5">
       {{>hotdeal}}
  </div>
  <hr>
  <div class="col-12 mt-4">
      {{> categories}}
  </div>
    <hr>
  <div class="col-12 mt-4">
    {{>bestSelling}}
    {{>product}}
  </div>
  <div class="col-12 mt-4">

<div class="p-4 p-md-5 mb-4 rounded text-white bg-black d-flex ">
    <div class="col-lg-6 px-0">
    <p class="lead my-3 text-danger">Categories</p>
      <h1 class="display-4 fw-bolder">Enhance Your Music Experience</h1>
       <div class="hot-deal timer mt-5 col-8">
        <ul class="hot-deal-countdown font-monospace ">
            <li>
                <div>
                    <span>Days</span>
                    <h3 id="days">287</h3>
                </div>
            </li>
            <li>
                <div>
                    <span>Hours</span>
                    <h3 id="hours">00</h3>
                </div>
            </li>
            <li>
                <div>
                    <span>Mins</span>
                    <h3 id="minutes">12</h3>
                </div>
            </li>
            <li>
                <div>
                    <span>Secs</span>
                    <h3 id="seconds">10</h3>
                </div>
            </li>
        </ul>
    </div>
      <p class="lead mb-0 mt-5"><a href="#" class="btn btn-danger fw-bold p-2 px-5">Buy Now!</a></p>
    </div>
    <div class="col-lg-6">
      <img src="https://www.hobbymania.com.br/img/products/caixa-de-som-jbl-flip-5-red-portatil-bluetooth-a-prova-dagua-20w_1_600.png" alt="" class="img-fluid w-75">
    </div>
  </div>

  </div>
  <div class="col-12 mt-4">
     <div class="d-flex align-items-center fs-5 fw-bold">
    <div class="bg-danger rounded" style="width: 20px; height: 50px;"></div><span class="ms-3 fs-4 font-monospace text-danger">Our Products</span>
    </div>
    <div class=" d-flex justify-content-between">
    <h1>Explore Our Products</h1>
     <div class="fs-3">
        <a href="#"> <i class="bi  bi-arrow-left-circle-fill  text-secondary"></i></a>
        <a href="#"> <i class="bi  bi-arrow-right-circle-fill text-secondary"></i></a>
    </div>
    </div>
    {{> product}}
  </div>
  <div class="col-12 mt-4">
    New Arrival
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://www.yankodesign.com/images/design_news/2023/03/auto-draft/sony_playstation_5_pro_1.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <img style="width: 5em; height: 15em" src="https://www.yankodesign.com/images/design_news/2023/03/auto-draft/sony_playstation_5_pro_1.jpg" alt="">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <small>Earth</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>3d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>Pakistan</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>4d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>California</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>5d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>

    
  </div>
</div>



