<div class="col-8 container ">
    <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
        
      </div>
      
      <div class="modal-body p-5 pt-0">
        {{#if registerError}}
         <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error!</strong> {{registerError}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        <form class="was-validated" novalidate="" action="/register" method="post"> 
          <div class="row g-3">
              <div class="col-sm-8">
            <div class="col">
              <label for="firstName" class="form-label">First name</label>
              <input  name="firstName"  type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col">
              <label for="lastName" class="form-label">Last name</label>
              <input name="lastName"  type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col">
              <label for="userImage" class="form-label">User image</label>
              <input name="userImage"  type="text" class="form-control" id="lastName" placeholder="" value="">
              <div class="invalid-feedback">
                User image is required.
              </div>
            </div>
            </div>
             <div class="col-sm-4">
              <img class="img-thumbnail" src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png" alt="">
              </div>
           
           <div class="col-sm-6">
              <label for="email" class="form-label">Email <span class="text-warning fs-5">*</span></label>
              <input  name="email" type="email" class="form-control" id="email" placeholder="you@example.com" required>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="email" class="form-label">Password <span class="text-warning fs-5">*</span></label>
              <input  name="password" type="password" class="form-control" id="email" placeholder="secret key" required>
              <div class="invalid-feedback">
                Please enter a your secret key
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input name="address"  type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your address.
              </div>
            </div>

          <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select name="country" class="form-select" id="country" required>
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">State</label>
              <select name="state" class="form-select" id="state" required>
                <option value="">Choose...</option>
                <option>California</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input name="zipCode"  type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <hr class="my-4">
          <button class="btn btn-primary" type="submit">Register</button>
          <a href="/login" class="btn btn-warning">Login</a>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button class="py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
            <i class="bi bi-twitter"></i>
            Sign up with Twitter
          </button>
          <button class="py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
            <i class="bi bi-facebook"></i>
            Sign up with Facebook
          </button>
          <button class="py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
            <i class="bi bi-github"></i>
            Sign up with GitHub
          </button>
        </form>
      </div>
    </div>
  </div>
</div>