<!DOCTYPE html>
<html>
{{> head}}
<body>

    {{> navbar}}

    <div class="container">
    {{{body}}}
    
    </div>
   <div class="bg-black text-white font-monospace mt-5">
{{> footer}}
   </div>
</body>
</html>