<div class="container">
  <footer class="py-5">
    <div class="row">

      <div class="col-md-3  mb-3">
        <form>
          <h4 class="mb-3 fs-4 fw-bold">Exclusive</h4>
          <p class="fw-medium fs-5">Subscribe</p>
          <p>Get 10% off your first order</p>
          <div class="input-group mb-3 w-75">
            <input name="subscribeEmail" id="subscribeEmail" type="text" class="form-control bg-dark text-white" placeholder="Enter your email" aria-label="Username" aria-describedby="basic-addon1">
            <button class="input-group-text bg-dark "  id="basic-addon1"><i class="bi bi-send text-white"></i></button>
          </div>
        </form>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Support</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">17/16, Chilonzor-3 Tashkent, Uzbekistan.</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">uzdev7@gmail.com</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">+998900066639</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">+998900088849</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Account</h5>
        <ul class="nav flex-column ">
          {{#if token}}
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">My Account</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis"><a href="/logout" class="text-decoration-none text-light-emphasis">Logout</a></a></li>
          {{else}}
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis"><a href="/login" class="text-decoration-none text-light-emphasis">Login</a>  / <a href="register" class="text-decoration-none text-light-emphasis">Register</a> </a></li>
          {{/if}}
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">Wishlist</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">Shop</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Quick Link</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">Terms Of Use</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">FAQ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">Contact</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5>Download App</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 text-light-emphasis">Save $3 with App New User Only</li>
          <li class="nav-item"><div class="row">
            <div class="col-6">
              <img class="img-fluid w-75" src="/img/noFrameLinkedin.png" alt="">
              <p>Sacn me!</p>
            </div>
            <div class="col-6 ">
              <img class="img-fluid " src="/img/appGo.png" alt="">
            </div>
          </div></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light-emphasis">
            <div class="d-flex gap-1 fw-mendium fs-4 btn-group btn-group-sm">
              <a href="https://t.me/abdulbosit_tatu" target="_blank"><i class="btn btn-outline-danger text-white bi bi-telegram"></i></a>
              <a href="https://www.instagram.com/abdulbosit_tatu/" target="_blank"><i class="btn btn-outline-danger text-white bi bi-instagram"></i></a>
              <a href="https://www.facebook.com/abdulbosit1998" target="_blank"><i class="btn btn-outline-danger text-white bi bi-facebook"></i></a>
              <a href="https://www.linkedin.com/in/abdulbosit-tuychiev/" target="_blank"><i class="btn btn-outline-danger text-white bi bi-youtube"></i></a>
              <a href="https://www.linkedin.com/in/abdulbosit-tuychiev/" target="_blank"><i class="btn btn-outline-danger text-white bi bi-linkedin"></i></a>
            </div>
          </li>
          
        </ul>
      </div>

      
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 Itransition, <span> <a href="https://www.linkedin.com/in/abdulbosit-tuychiev/" target="_blank"> Interner</a></span>. All rights reserved.</p>
    </div>

  </footer>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="/js/js.js"></script>
